#header {
    height: 1.5em;/*height: 24px;*/
    width: 100%;
    position: absolute;
    z-index: 2;  
    background-color: #4d3c37;
    color: #bc9790; 
}
#map{
	height: 300px; 
	width: 100%;
    background-image: url(images/map.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.header_layout {
    width: 920px;
    height: 8.125em;/*height: 130px;*/
    margin: 0 auto;
}
.header-container {
    width: 92.39%;/*width: 850px;*/
    margin: 0 auto;
}
.header-container-logo {
    float: left;
    display: block;
    width: 25%;
    height: 9.5em; /*height: 152px;*/
    margin-top: 0.5625em;/*margin-top: 9px;*/
    background-image: url("images/logo.png");
    background-size: contain;
}
.header-container-menu {
    float: left;
    width: 75%;
    height: 6.375em; /*height: 102px;*/
}
#short_menu {
    display: none;
}
.header-container-menu-info {
    height: 1.5em; /*height: 24px;*/
    box-sizing: border-box;
    padding-top: 0.2em; /*padding-top: 3.2px;*/
    display: block;
}
.header-container-menu-main>ul {
    height: 2.75em; /*height: 44px;*/
    margin: 0;
    list-style-type: none;
    padding: 0;
    background: url(images/satin.png);
}
.header-container-menu-main>ul>li {
    float: left;
    display: block;
    line-height: 1.125em; /*line-height: 18px;*/  
    color: #fff;
}
.header-container-menu-main a {
    display: block;
    line-height: 1.125em;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
.header-container-menu-main>ul>li>a {
    padding: 0.8125em 1.375em; /*padding: 13px 22px;*/
}
.header-container-menu-main>ul>li>ul {
    width: inherit;
    box-sizing: border-box;
    list-style-type: none;
    background: url(images/satin.png);
    position: absolute;
    display: none;
    padding: 0;
}
.header-container-menu-main>ul>li>ul>li {
    height: 2.2em; /*height: 45px;*/
    display: block;
    line-height: 1.125em; /*line-height: 18px;*/
    color: #fff;
    background: url(images/satin.png);
}
.header-container-menu-main>ul>li>ul>li>a {
    padding: 0.4375em 1.625em; /*padding: 7px 26px;*/
}
.header-container-menu-main>ul>li:hover {
    background: url(images/satin.png);    
}
.header-container-menu-main>ul>li:hover>ul {
    display: block; 
}
.header-container-menu-main>ul>li>ul>li:hover {
    background-color: #705852;
}
.header-container-menu-main>ul>li::before {
    content: "";
    position: absolute;
    width: 0.0625em; /*width: 1px;*/
    height: 1.875em; /*height: 30px;*/
    background: #fff;
    box-sizing: border-box;
    top: 2em; /*top: 32px;*/
}
.header-container-menu-main>ul>li:first-child::before {
    display: none;
}
.header-container-booking {
    width: 700px;
    height: 7.1875em; /*height: 115px;*/
    background: url(images/satin.png);
    position: absolute;
    top: 18.75em; /*top: 300px;*/
    left: 50%;
    margin-left: -21.875em; /*margin-left: -350px;*/
}
.header-container-booking form {
    font-size: 1.125em; /*font-size: 18px;*/
}
.header-container-booking form label { /*ділити на 18*/
    display: block;
    width: 5.55em; /*width: 100px;*/
    float: left;
    text-align: left;
    padding: 0.27em; /*padding: 5px;*/ 
    padding-right: 0.55em; /*padding-right: 10px;*/ 
    font-family: inherit;
}
.header-container-booking form p { /*ділити на 18*/
    margin: 0.55em 0; /*margin: 10px 0;*/
}
.header-container-booking-item {
    height: 5em; /*height: 90px;*/
    float: left;
    margin-top: 0.55em; /*margin-top: 10px;*/
}
.header-container-booking-item p { /*ділити на 18*/
    margin-bottom: 0.55em; /*margin-bottom: 10px;*/
}
.header-container-booking-item p label { /*ділити на 18*/
    width: 6.11em; /*width: 110px;*/
    color: #fff;
    text-transform: uppercase;
    text-align: right;
}
.header-container-booking-item:nth-child(1) { /*ділити на 18*/
    width: 15em; /*width: 270px;*/
}
.header-container-booking-item:nth-child(1) p input { /*ділити на 18*/
    padding: 0.33em; /*padding: 6px;*/
    border: 0;
    font-family: inherit;
    font-size: inherit;
    width: 6.22em; /*width: 112px;*/
    background-color: #e6d7d4;
}
.header-container-booking-item:nth-child(1) p input::-webkit-inner-spin-button,
.header-container-booking-item:nth-child(1) p input::-webkit-clear-button
{ 
    display: none; 
}
.header-container-booking-item:nth-child(1) p input::-moz-inner-spin-button,
.header-container-booking-item:nth-child(1) p input::-moz-clear-button { 
    display: none; 
}
.header-container-booking-item:nth-child(2) { /*ділити на 18*/
    width: 11.11em; /*width: 200px;*/
}
.header-container-booking-item:nth-child(2) p select{ /*ділити на 18*/
    font-size: inherit;
    height: 1.72em; /*height: 31px;*/
    color: #000;
    width: 2.5em; /*width: 45px;*/
    border: 0;
    background-color: #e6d7d4;
}
.header-container-booking-item:nth-child(3) { /*ділити на 18*/
    width: 11.38em; /*width: 205px;*/
}
.header-container-booking-item:nth-child(3) input{
    font-family: 'Ubuntu Condensed';
    font-size: 1.0625em; /*font-size: 17px;*/
    background: #ede4e2;
    color: #4d3c37;
    cursor: pointer;
    width: 175px;
    border: 0;
    height: 33px;
    margin-top: 28.5px;
    margin-left: 18px;
}
#slider {
    width: 100%;
    height: 33em;
}
.slider-layout {
    width:100%;
    height: 31.5em;
    overflow:hidden;
}
.slider-container {
    height: inherit;
    width: 100%;
    overflow:visible;
    position:relative;
    background: url(images/satin.png);
}
.slider-container_mask {
    overflow:hidden;
    height: inherit;
}
.slider-container ul {
    margin:0;
    padding:0;
    position:relative;
}
.slider-container ul li {
    width: 100%;
    height:inherit;
    position:absolute;
    top:-32em;
    list-style:none;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.slider-container ul li img {
    display: block;
    margin: 0 auto; 
    min-height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}
.slider-container li.firstanimation {
    -moz-animation:cycle 50s linear infinite;   
    -webkit-animation:cycle 50s linear infinite;
    -ms-animation:cycle 50s linear infinite;
    -o-animation:cycle 50s linear infinite;       
}
.slider-container li.secondanimation {
    -moz-animation:cycletwo 50s linear infinite;
    -webkit-animation:cycletwo 50s linear infinite;
    -ms-animation:cycletwo 50s linear infinite;  
    -o-animation:cycletwo 50s linear infinite;  
}
.slider-container li.thirdanimation {
    -moz-animation:cyclethree 50s linear infinite;
    -webkit-animation:cyclethree 50s linear infinite;
    -ms-animation:cyclethree 50s linear infinite;
    -o-animation:cyclethree 50s linear infinite;   
}
.slider-container li.fourthanimation {
    -moz-animation:cyclefour 50s linear infinite;
    -webkit-animation:cyclefour 50s linear infinite;
    -ms-animation:cyclefour 50s linear infinite;
    -o-animation:cyclefour 50s linear infinite;       
}
.slider-container li.fifthanimation {
    -moz-animation:cyclefive 50s linear infinite;
    -webkit-animation:cyclefive 50s linear infinite;
    -ms-animation:cyclefive 50s linear infinite;   
    -o-animation:cyclefive 50s linear infinite;     
}
.slider-bottom {
    width: 100%;
    height: 1.5em; /*height: 24px*/
    background-color: #4d3c37;
}
#accordeon-container{
    width: 100%;/*width: 940px;*/
    height: 30%;
    background-color:#fbf9f4;
    margin: 0 auto;
}
.container-label{
    font-family: 'Ubuntu Condensed', Arial, sans-serif;
    text-align: center;
    display: block;
    height: 1.5em;/*26px*/
    cursor: pointer;
    color: #fbf9f4;
    font-size: 1.1em;/*27px*/
    font-weight: normal;
    text-transform: uppercase;
    background: #705852;
    padding-top: 0.4em;/*7px*/
    border-bottom:solid 1px #705852;
    border-top:solid 1px #705852;
    text-shadow: #000 0.1em 0.1em 0.2em;
}
.container-label :hover{
    background: #4d3c39;
}

#accordeon-container  input{
    display: none;
}
#accordeon-container  article{
    overflow: hidden;
    height: 0px;
    -webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    -ms-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
}
#accordeon-container  input:checked ~ .accordeon-content-first {
    height: 13em;/* 208px*/
}
#accordeon-container  div{
    margin-bottom: 1em;/*20px*/
}
.accordeon-offsets-content-picture{
    width: 33.33%;
    height: 13em;/*208px*/
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
}
#accordeon-offsets-content-picture1{
    background-image: url("images/offers/transfer_s.jpg");
}
#accordeon-offsets-content-picture2{
    background-image: url("images/offers/music_s.jpg");
}
#accordeon-offsets-content-picture3{
    background-image: url("images/offers/sertificate_s.jpg");
}
.accordeon-offsets-content-picture p{
    font-size: 1.5em;/*28px*/
    text-align: center;
    color:white;
    margin:3.2em 3em; /*80px 75px;*/
    text-shadow: #000  0.05em 0.05em 0.01em; /*1.5px 1.5px 0.3px*/
}

.accordeon-content-second,/*стиль в момент закриття*/
#accordeon-container  input:checked ~ .accordeon-content-second {
    width: 800px;
    box-sizing: border-box;
    font-family: 'Open Sans',Georgia,Arial;
    padding-left:0.1em;/*4px*/
    padding-right: 0.1em;/*4px*/
    font-size: 1em;/*16px*/
    height: 34em;
    margin:0 auto;
    text-align: justify;
}
.accordeon-content-second-span{
    color: #4d3c39;
    font-weight: bold;
}
.accordeon-content-second-icons{
    text-align: center;
}
#accordeon-content-second-icons-awards img{
   border:solid 1px #705852;
   width: 19%; /*170px*/
   height: 5.2em;/*88px*/
}
#accordeon-container input:checked ~ .accordeon-content-third{
  width: 920px;
  padding-left:0.5em;/*8px*/
  padding-right: 0.5em;/*8px*/
  height: 10em;/*160px*/
  margin:0 auto;
  box-sizing: border-box;
}
.accordeon-content-third{
    width: 920px;
    margin: 0 auto;
}
.guests-slider {
    width: 55em; /*width: 880px;*/
    height: 9.1875em; /*height: 147px;*/
    margin: 0.9375em auto; /*margin: 15px auto;*/
}
.guests-slider-arrow {
    height: 3.0625em; /*height: 49px;*/
    width: 2.72%; /*width: 24px;*/
    float: left;
    margin-top: 3em; /*margin-top: 48px;*/
    display: none; /*доробити в js*/
}
.guests-slider-arrow:hover {
    filter: brightness(80%);
    cursor: pointer;
}
.guests-slider-layout {
    width: 93.18%; /*width: 820px;*/
    height: inherit; /*height: 147px;*/
    margin: 0 0.375em; /*margin: 0 6px;*/
    float: left;
    overflow: hidden;
}
.guests-slider-layout-items {
    width: 205em; /*width: 3280px;*/
    height: inherit; /*height: 147px;*/
    -moz-animation: slide-guests 100s linear infinite;
    -webkit-animation: slide-guests 100s linear infinite;
    -ms-animation: slide-guests 100s linear infinite;
    -o-animation: slide-guests 100s linear infinite;
    animation-fill-mode: forwards; 
}
.guests-slider-layout-items div {
    width: 12.8125em; /*width: 205px;*/
    height: inherit; /*height: 147px;*/
    float: left;
    background-size: cover;
}
#news{
    width: 100%;/*940px*/
    background-color:#705852;
    height: 14.4em;/*230px*/
}
.news-box2{
    width: 48%;/*432px*/
    height: 12.3em;/*197px */
    background-color: #4d3c39;
    display: inline-block;
    margin-left:0.7em;/*16px*/
    box-shadow: 0.15em 0.2em 1em rgba(0,0,0,0.8); /* Параметри тіні 2.5px 3px 15px */
}
.news-box2:hover{
    box-shadow: 0.2em 0.2em 1em rgba(0,0,0,0.9); /* Параметри тіні 3px 3px 15px */
}
.news-box2-img{
    width: 65%;
    height: 12.3em;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}
#news-box-img-1{
    background-image: url(images/news/spa1.jpg);
}
#news-box-img-2{
    background-image: url(images/news/news-music.jpg);
}
.news-box2-content{
    width: 35%;/*151.2px*/
    height: 9.5em;/*197px*/
    padding-top:3.3em;/*56px*/
    box-sizing: border-box;
    background-color: #4d3c39;
    color:  #fbf9f4;
    float:left;
    font-size: 1.3em;/*21px*/
    text-shadow: #000 0.02em 0.02em 0.01em;
    text-align: center;
}
#footer{
    width: 100%;
    margin: 0 auto;
    background-color:#4d3c39;
    color:#a27e77;
    font-family: 'Ubuntu Condensed';
    font-weight: normal;
    height: 7em;/*84px*/
    border-top:solid 1px #826961;
}
.news-footer-layout {
    width: 910px;/*920*/
    margin:0 auto;
    padding-top: 1em;/*16em*/
    padding-bottom: 1em;
    box-sizing: border-box;
}
.footer-layout-box4 {
    width: 25%;/*25%*/
    float: left;
    padding-left:2em;/*32px*/
    box-sizing: border-box;
    text-align: left;
    font-size:0.95em;/*16px*/
}
.social img,
.accordeon-offsets-content-picture,
.news-box2 {
    filter: brightness(85%);
}
.social img:hover,
.accordeon-offsets-content-picture:hover,
.news-box2:hover {
    filter: brightness(100%);
}
.formContent{
	text-align: center;
	margin-top: 2%;
}
.formContent input{
  font-size: 1em;
  background-color: #e6d7d4;
  opacity: 0.5;
  width: 70%;
  padding:0.5em;
  font-family: 'Circe';
  margin-bottom: 1em;
  box-sizing: border-box;
  border:none;
}
.formContent textarea{
  border:none;
  margin-bottom: 1em;
  font-size:1em;
  width: 70%;
  padding:0.5em;
  font-family: 'Circe';
  resize: none;
  box-sizing: border-box;
  background-color: #e6d7d4;
  opacity: 0.5;
}
.formContent textarea:hover,.formContent input:hover{
	background-color: #e6d7d4;
	opacity: 0.9;
}
.formContent textarea:focus, .formContent input:focus{
	outline : none;
}
#formButton{
  text-transform: uppercase;
  font-size: 1.1em;
  color: #fbf9f4;
  background-color: #705852;
  width: 70%;
  padding:0.4em 1em;
  margin-bottom: 1em;
  box-sizing: border-box;
  border:none;
  border-radius: 1px;
  font-family: 'Ubuntu Condensed', Arial, sans-serif;
  cursor: pointer;
  text-shadow: #000 0.1em 0.1em 0.2em;
}
#formButton:hover{
	background: #705852;
}