@media screen and (min-width: 280px) and (max-width: 384px) {
	/* Header */
	#header {
	    height: 2.125em; /*height: 34px;*/
	}
	@media screen and (min-width: 340px) and (max-width: 384px) {
		.header_layout {
		    width: 320px;
		}
		.header-container {
		    width: 95%;
		}
		.header-container-logo {
		    width: 37%;
		    height: 5em; /*height: 105px;*/
		}
		.header-container-menu {
			width: 63%;
		}
		.header-container-menu-main>ul {
		    height: 13.75em; /*height: 220px;*/
		    margin-left: 20%;
		    display: none;
		    z-index: 200;
		    background-color: #4d3c37;
		}
		#accordeon-container  input:checked ~ .accordeon-content-first {
    		height: 33em;/* 208px*/
    		margin-bottom: 1em;/*20px*/
		}
		#accordeon-container  div{
    		margin-bottom: 0.1em;/*20px*/
    	}
		.accordeon-offsets-content-picture{
    		width: 100%;
    		height: 11em;/*208px*/
   			float: left;
    		background-size: cover;
    		background-repeat: no-repeat;
		}
		.accordeon-offsets-content-picture p{
    		margin:2.8em 0.5em; /*80px 75px;*/
    	}
		.accordeon-content-second,/*стиль в момент закриття*/
	 	#accordeon-container  input:checked ~ .accordeon-content-second {
    		width: 320px;
    		padding-left:0.2em;/*4px*/
    		padding-right: 0.2em;
    		font-size: 0.9em;
    		height: 59em;
    	}
    	.accordeon-content-second-icons{
			margin: 0 auto;
    		width: 270px;
		}
		#accordeon-content-second-icons-awards img{
  	 		border:solid 1px #705852;
   			width: 31%; /*170px*/
   			height: 3.5em;/*88px*/
		}
   		 #news{
    		height: 19em;/*230px*/
        }
		.news-footer-layout {
    		width: 320px;
        }
   		 .news-box2{
	    	width: 85%;
	    	height: 8em;
	    	margin-left: 2em;
	    	margin-bottom:0.7em;
    	}
    	.news-box2-img{
    		width: 65%;
	    	height: 8em;
		}
    	.news-box2-content{
    		width: 35%;
	    	font-size: 1em;
	    	padding-top:1.4em;
	    	height: 4em;
	    }
    	.footer-layout-box4 {
    		width: 80%;/*25%*/
    		padding-bottom: 1em;
    		padding-left:3em;
    		text-align: center;
    		font-size:1em;/*16px*/
    		/*background-color: red;*/
		}
		#footer{
			height: 19em;/*84px*/
	    }
	}
	@media screen and (min-width: 280px) and (max-width: 340px) {
		.header_layout {
		    width: 260px;
		}
		.header-container {
		    width: 95%;
		}
		.header-container-logo {
		    width: 37%;
		    height: 4em; /*height: 105px;*/
		}
		.header-container-menu {
			width: 63%;
		}
		.header-container-menu-main>ul {
		    height: 13.75em; /*height: 220px;*/
		    margin-left: 10%;
		    display: none;
		    z-index: 200;
		    background-color: #4d3c37;
		}
				#accordeon-container  input:checked ~ .accordeon-content-first {
    		height: 27em;/* 208px*/
    		margin-bottom: 1em;/*20px*/
		}
		#accordeon-container  div{
    		margin-bottom: 0.1em;/*20px*/
    	}
		.accordeon-offsets-content-picture{
    		width: 100%;
    		height: 9em;/*208px*/
   			float: left;
    		background-size: cover;
    		background-repeat: no-repeat;
		}
		.accordeon-offsets-content-picture p{
    		margin:2em 0.5em; /*80px 75px;*/
    	}
		.accordeon-content-second,/*стиль в момент закриття*/
	 	#accordeon-container  input:checked ~ .accordeon-content-second {
    		width: 260px;
    		padding-left:0.2em;/*4px*/
    		padding-right: 0.2em;
    		font-size: 0.9em;
    		height: 70em;
    	}
    	.accordeon-content-second-icons{
			margin: 0 auto;
    		width: 220px;
		}
		#accordeon-content-second-icons-awards img{
  	 		border:solid 1px #705852;
   			width: 31%; /*170px*/
   			height: 3.5em;/*88px*/
		}
   		 #news{
    		height: 17em;/*230px*/
        }
		.news-footer-layout {
    		width: 260px;
        }
   		 .news-box2{
	    	width: 85%;
	    	height: 7em;
	    	margin-left: 1.6em;
	    	margin-bottom:0.7em;
    	}
    	.news-box2-img{
    		width: 65%;
	    	height: 7em;
		}
    	.news-box2-content{
    		width: 35%;
	    	font-size: 1em;
	    	padding-top:0.3em;
	    	height: 4em;
	    }
    	.footer-layout-box4 {
    		width: 85%;/*25%*/
    		padding-bottom: 1em;
    		padding-left:1.6em;
    		text-align: center;
    		font-size:1em;/*16px*/
    		/*background-color: red;*/
		}
		#footer{
			height: 21em;/*84px*/
	    }
	}
	
	.header-container-menu-info{
		height: 2.125em; /*height: 34px;*/
		width: 2.125em; /*height: 34px;*/
		text-indent: -999em;
		margin-left: 80%;
	    background-image: url(images/short_menu.png);
	}
	.header-container-menu-info:hover {
		cursor: pointer;
	}
	#short_menu:checked~.header-container-menu-main>ul{
		display: block;
	}
	.header-container-menu-main>ul {
	    height: 13.75em; /*height: 220px;*/
	    margin-left: 10%;
	    display: none;
	    z-index: 200;
	    background-color: #4d3c37;
	}
	.header-container-menu-main>ul>li {
    	clear: left;
    	width: 100%;
	}
	.header-container-menu-main>ul>li>a {
	    padding: 0.5625em 1.875em; /*padding: 9px 30px;*/
	}
	.header-container-menu-main>ul>li>ul,
	.header-container-menu-main>ul>li>ul>li,
	.header-container-menu-main>ul>li:hover>ul,
	.header-container-menu-main>ul>li::before,
	.header-container-menu-main>ul>li:first-child::before {
	    display: none;
	}
	/* Form */
	.header-container-booking {
	    display: none;
	}
	.accordeon-content-third,
	#accordeon-container input:checked ~ .accordeon-content-third{
	    width: 265px;
	    margin: 0 auto;
	}
	.guests-slider {
	    /*width: 29.375em; */ width: 280px;
	}
	.guests-slider-arrow {
	    width: 24px;
	}
	.guests-slider-layout {
	   width: 205px;
	   margin: 0em;
	}
	/* Slider */
	#slider {
	    width: 100%;
	    height: 30em;
	}
	.slider-layout {
	    width:100%;
	    height: 28.5em;
	    overflow:hidden;
	}

}